.DS_Store
xcuserdatad
.vscode
ketor.xcuserdatad
tags
tags.lock
tags.temp
GTAGS
GRTAGS
GPATH
.root
.project
.cache
compile_commands.json
.history
*.swp
*.swo
cscope.out
cscope.files
cscope.in.out
cscope.po.out
.netrwhist

